.referfriend_popup_container{
    width: 90%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0%;
    left:4rem;
    z-index: 999;
    margin: auto;
    background: rgba(32,32,32,.8);
}
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
.RFPP_container{
    width: 70%;
    height: 70%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(31, 30, 30, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

}
.REPP_container_content{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}
.referral_img{
    width: 80%;
    height: 50vh;
    /* height: 50%; */
    /* border: 2px solid red; */
    padding: 3rem;
    /* margin-top: -5rem; */
    margin-left: 5rem;
}
.referral_img img{
    width: 100%;
    height: 100%;
    
}

.socialmedia_logo{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 3rem;
}
.Social_Media{
    border: none;
    background:#fff;
    cursor: pointer;
}
.Social_Media img{
    width: 85%;
    height:85%;
}
.input_refer_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
width: 90%;
    gap:1rem;
}
.input_refer_btn input{
padding: .5rem;
border: 3px solid #F7701D;
}
.input_refer_btn .btn_refer{
    width: 7%;
    padding: .5rem;
    border: none;
    background: #F7701D;
    border-radius: 10px;
    color:#FFFFFF;
    cursor:pointer;
}